# House Market

1. Download the four files “superficie.csv” / “nombre_de_sdb.csv” / “nombre_de_chambres.csv” / "house_price.csv"

2. Read the files and create the 4 corresponding Dataframes

Let's go a little further into python.

In [17]:
import plotly.express as px
import pandas as pd

In [18]:
pd.options.display.max_columns = None

In [19]:
superficie_Frame = pd.read_csv("house_market/superficie.csv")
sdb_Frame = pd.read_csv("house_market/nombre_de_sdb.csv")
chambres_Frame = pd.read_csv("house_market/nombre_de_chambres.csv")
house_price_Frame = pd.read_csv("house_market/house_price.csv")

In [20]:
superficie_Frame.columns = ["Index", "Superficies"]
superficie_Frame.head()

   Index  Superficies
0      1        27667
1      2        14742
2      3        28089
3      4        11713
4      5        28591

3. Give a column name to the three datasets that don't have a header in the source file

In [21]:
#sdb_Frame.set_axis(['sdb'], axis=1).head()
sdb_Frame.columns = ["Index", "SDB"]
sdb_Frame.head()

   Index  SDB
0      1    1
1      2    1
2      3    3
3      4    1
4      5    3

In [22]:
chambres_Frame.columns = ["Index", "Nombre_de_chambres"]
chambres_Frame.head()

   Index  Nombre_de_chambres
0      1                   4
1      2                   1
2      3                   4
3      4                   2
4      5                   4

In [23]:
house_price_Frame.columns = ["Index","ID", "Prix_Maisons"]
house_price_Frame.head()

   Index  ID  Prix_Maisons
0      0  14     1918154.0
1      1  30      739142.0
2      2  70     1621938.0
3      3  77     1319862.0
4      4  50      146250.0

4. Make an inner join of these four datasets into a single dataframe.

In [24]:
frames = [house_price_Frame,sdb_Frame, chambres_Frame,superficie_Frame]
frames = pd.concat(frames, axis=1)
frames.head()

# frames = pd.merge(house_price_Frame, sdb_Frame, left_on='Index', right_on='Index', how='inner')
# frames = pd.merge(frames, chambres_Frame, left_on='Index', right_on='Index', how='inner')
# frames = pd.merge(frames, superficie_Frame, left_on='Index', right_on='Index', how='inner')
# frames.head()

,Index,ID,Prix_Maisons,Index,SDB,Index,Nombre_de_chambres,Index,Superficies
0,0,14,1918154.0,1.0,1.0,1.0,4.0,1.0,27667.0
1,1,30,739142.0,2.0,1.0,2.0,1.0,2.0,14742.0
2,2,70,1621938.0,3.0,3.0,3.0,4.0,3.0,28089.0
3,3,77,1319862.0,4.0,1.0,4.0,2.0,4.0,11713.0
4,4,50,146250.0,5.0,3.0,5.0,4.0,5.0,28591.0

5. What is the average surface area of the houses in our dataset?

In [25]:
frames["Superficies"].mean()

20354.878787878788

6. What is the median and average number of rooms?

In [26]:
frames["Nombre_de_chambres"].median()
round(frames["Nombre_de_chambres"].mean())

2

7. What is the average cost of a house?

In [27]:
frames["Prix_Maisons"].mean()

767747.87

8. What is the average cost of a house, depending on the number of rooms it has?

In [28]:
frames.groupby("Nombre_de_chambres").mean()["Prix_Maisons"]

Nombre_de_chambres
1.0    618491.727273
2.0    744097.516129
3.0    869075.814815
4.0    867287.684211
Name: Prix_Maisons, dtype: float64

10. The average cost per room doesn't tell us much. Let's try to categorize by size.

  - Create a new column in your dataset that we'll call home_size
Create five categories that respectively correspond to:
      - "very large" $=$ "a house larger than 25,000 sqrt_feet"
      - "large" $=$ "a house between 20,000 and 25,000 sqrt_feet"
      - "medium" $=$ "a house between 15,000 and 20,000 sqrt_feet"
      - "small" $=$ "a house between 10,000 and 15,000 sqrt_feet"
      - "very small" $=$ a house less than 10,000 sqrt_feet"

Fill in the corresponding rows in the house_size column.

In [29]:
frames.head()

,Index,ID,Prix_Maisons,Index,SDB,Index,Nombre_de_chambres,Index,Superficies
0,0,14,1918154.0,1.0,1.0,1.0,4.0,1.0,27667.0
1,1,30,739142.0,2.0,1.0,2.0,1.0,2.0,14742.0
2,2,70,1621938.0,3.0,3.0,3.0,4.0,3.0,28089.0
3,3,77,1319862.0,4.0,1.0,4.0,2.0,4.0,11713.0
4,4,50,146250.0,5.0,3.0,5.0,4.0,5.0,28591.0

11. What is the average cost of a house depending on its size category?

In [30]:
frames.groupby("Superficies").mean()["Prix_Maisons"]

Superficies
10198.0    1305091.0
10502.0     108290.0
10560.0     409136.0
10723.0    1236645.0
10799.0     138077.0
             ...
29449.0    1207939.0
29454.0    1736070.0
29792.0     183621.0
29924.0    1158550.0
29931.0    1926923.0
Name: Prix_Maisons, Length: 99, dtype: float64

 12. Apply the code below to view your result. What can you conclude?

In [32]:
import plotly.express as px
fige = px.scatter(frames, x = "surface", y = "house_price", trendline = "ols")
fige.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Index', 'ID', 'Prix_Maisons', 'Index', 'SDB', 'Index', 'Nombre_de_chambres', 'Index', 'Superficies'] but received: surface